.container{
	@include sm-down{
		max-width: 100%;
	}
	.cart{
		.heading-wrapper{
			background-color: $white;
			text-align: center;
			padding: 40px 0;
			border-bottom: 1px solid $brand-color;
			@include sm-down{
				border-bottom: none;
				background-color: #ebebeb;
			}
			.heading-h2{
			display: inline-block;
			font-size: $font-size-h2;
			font-family: $font-family-bold;
			color: $brand-color;
				span{
					padding-right: 30px;
					font-weight: bold;
				}
			}
		}
		.cart-block{
			margin-top: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid $brand-color;
			.row{
				.row{
					@include sm-down{
						flex-direction: column;
						justify-content: flex-end;
						.flex-order-1{
							order: 1;
							margin: 10px 0;
						}
						.flex-order-2{
							order: 3;
							margin: 10px 0;
						}
						.flex-order-3{
							order: 2;
							margin: 10px 0;
						}
					}
					.col-sm-12{
						.cart-name{
							.cart-name-title{
								display: block;
								color: $brand-color;
								font-size: $font-size-h2;
								font-family: $font-family-regular;
								font-weight: 400;
								text-transform: uppercase;
								text-align: left;
								@include sm-down{
									text-align: right;
								}
								@include xs-down{
									display: none;
								}
							}
							.cart-descr{
								display: block;
								color: $brand-color;
								font-size: $font-size-h2;
								font-family: $font-family-regular;
								font-weight: 400;
								text-align: left;
								@include sm-down{
									text-align: right;
								}
							}
						}
						.cart-step-wr{
							@include sm-down{
								@include xs-down{
									input,
									.plus,
									.minus{
										width: 30px;
										height: 30px;
										font-size: $font-size-h2;
									}
								}
							}
						}
						@include sm-down{
							justify-content: flex-end;
						}
						@include xs-down{
							justify-content: flex-end;
							width: 100%;
						}
					}
				}
			}
			.cart-img-wr{
				text-align: center;
				img{
					max-width: 175px;
					width: 100%;
				}
			}
			.cart-price-wr{
				color: $brand-color;
				font-size: $font-size-h2;
				font-family: $font-family-bold;
				@include sm-down{
					text-align: right;
				}
			}
			.cart-btn-wr{
				.icon-cross2{
					color: $brand-color;
					text-decoration: none;
					font-size: $font-size-h2;
					&:hover{
						color: $brand-primary;
					}
					@include sm-down{
						display: block;
						font-size: $font-size-h3;
						&:hover{
							color: $brand-primary;
						}
					}
				}
			}
		}
	}
	.total-block{
		margin-bottom: 40px;
		padding-top: 80px;
		padding-bottom: 80px;
		border-bottom: 1px solid $brand-color;
		@include sm-down{
			display: none;
		}
		.total-title{
			padding-left: 40px;
			color: $brand-color;
			font-size: $font-size-h2;
			font-family: $font-family-bold;
			padding-left: 19%;
		}
		.total-cost{
			color: $brand-color;
			font-size: $font-size-h2;
			font-family: $font-family-bold;
			padding-left: 17%;
		}
	}
	.total-block-mobile{
		display: none;
		margin: 0 auto;
		font-size: 0;
		padding: 30px 0;
		border-bottom: 1px solid $brand-color;
		@include sm-down{
			display: block;
		}
		.total-title{
			display: inline-block;
			width: 27%;
			text-align: right;
			font-size: 1rem;
			font-family: $font-family-bold;
		}
		.total-cost{
			display: inline-block;
			width: 72%;
			text-align: center;
			font-size: 1rem;
			font-family: $font-family-bold;
		}
	}
	.btn-cart-block{
		text-align: right;
		margin: 90px 0;
		@include sm-down{
			text-align: center;
			margin: 45px 0;
		}
	}
}